table,
th,
td {
  font-size: 40px;
  text-align: center;

  width: 80px;
  height: 80px;
  table-layout: fixed;

  cursor: pointer;
  border: 2px solid black;
  border-collapse: collapse;
}

div {
  display: flex;
  justify-content: center;
}
h2,
p {
  font-size: 30px;
  text-align: center;
}
