table,
th,
td {
  font-size: 40px;
  text-align: center;

  width: 80px;
  height: 80px;
  table-layout: fixed;
  border-collapse: collapse;
  cursor: pointer;
}
.mid {
  border-left: 2px solid;
  border-right: 2px solid;
}
.midrow {
  border-top: 2px solid;
  border-bottom: 2px solid;
}

div {
  display: flex;
  justify-content: center;
}
h2,
p {
  font-size: 30px;
  text-align: center;
}
