table,
th,
td {
  font-size: 40px;
  text-align: center;

  width: 80px;
  height: 80px;
  table-layout: fixed;
  border-collapse: collapse;
  cursor: pointer;
}
.topL {
  border: 2px solid black;
  border-left: none;
  border-top: none;
}
.topR {
  border: 2px solid black;
  border-right: none;
  border-top: none;
}
.mid {
  border: 2px solid black;
}
.bottomL {
  border: 2px solid black;
  border-bottom: none;
  border-left: none;
}
.bottomR {
  border: 2px solid black;
  border-right: none;
  border-bottom: none;
}
div {
  display: flex;
  justify-content: center;
}
h2,
p {
  font-size: 30px;
  text-align: center;
}
